NEXT_PUBLIC_API=http://localhost:7501
NEXT_PUBLIC_API_MEDIA=https://your-media-domain.example
NEXT_PUBLIC_CLIENT_URL=http://localhost:3000
NEXT_PUBLIC_ENV=dev
NEXT_PUBLIC_ENABLE_EXPOSURE=true
NEXT_PUBLIC_USERNAME=your_client_username
NEXT_PUBLIC_PASSWORD=your_client_password

GENERATE_SOURCEMAP=false
CI=false
IMAGE_INLINE_SIZE_LIMIT=0
