@import "tailwindcss";
@import "tw-animate-css";

@source "../../apps/**/*.{ts,tsx}";
@source "../../packages/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-description: var(--description);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-be: var(--font-be-vietnam-pro);
	--font-inter: var(--font-inter);
	--font-trajan: var(--font-trajan-serif);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-default: var(--chart-default);
	--color-chart-7: var(--chart-7);
	--color-chart-6: var(--chart-6);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--font-trajan: var(--font-trajan-serif);
	--radius: 0.625rem;
	--description: oklch(0.49 0.02 265);
	--background: oklch(1 0 0);
	--foreground: oklch(0.27 0.01 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(50.503% 0.21232 262.907);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(58.231% 0.1927 263.095);
	--chart-1: oklch(58.31% 0.22 27.53);
	--chart-2: oklch(51.34% 0.109 163.34);
	--chart-3: oklch(75.13% 0.155 78.31);
	--chart-4: oklch(50.50% 0.212 262.89);
	--chart-5: oklch(72.90% 0.121 203.78);
	--chart-6: oklch(84.05% 0.098 55.41);
	--chart-7: oklch(64.46% 0.208 354.92);
	--chart-other: oklch(55.10% 0.023 264.36);
	--chart-default: oklch(61% 0.26 67.5);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.49 0.02 265);
	--sidebar-accent: oklch(50.503% 0.21232 262.907);
	--sidebar-accent-foreground: oklch(50.503% 0.21232 262.907);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-[#f6f5fa] text-foreground;
	}
}
